body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  gap: 5px;
}

.container div {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: 1 / 2 / 2 /6;
  background-color: aquamarine;
}

.sidebar {
  grid-area: 1 / 1 / 6 / 2;
  background-color: royalblue;
}

.main-content {
  grid-area: 2 / 2 / 6 / 6;
  background-color: burlywood;
}